.rewards-container {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 60px;
}

body {
  overflow-y: scroll;
  padding-bottom: 100px;
}
.rewards-greeting {
  font-size: 25px;
  color: royalblue;
  text-align: left;
}
